.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarWrapper {
  margin-bottom: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin: 0;
}

.email {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  margin: 0 0 16px;
}

.uploadButton {
  font-family: var(--font-family);
  border: none;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 335px;
  height: 38px;
  background-color: var(--opacity-neutral-darkest-5);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.uploadButton:hover:not(:disabled) {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.uploadButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.fileInput {
  display: none;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }
  .info {
    align-items: flex-start;
    width: auto;
    margin-bottom: 0;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    box-sizing: border-box;

    justify-content: flex-start;
  }

  .avatarWrapper {
    margin-bottom: 0px;
  }

  .name {
    padding-left: 4px;
  }
  .email {
    padding-left: 4px;
  }

  .uploadButton {
    width: 218px;
  }
}
