.container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-scheme-text);
}

.input {
  font-family: var(--font-family);
  padding: 8px 12px;
  height: 37px;
  border: 2px solid var(--opacity-transparent);
  background-color: var(--opacity-neutral-darkest-5);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-scheme-text);
  transition: border-color 0.2s, background-color 0.2s;
}

.input:focus {
  outline: none;
  background-color: var(--opacity-neutral-darkest-5);
  border: 2px solid var(--color-scheme-accent);
}

.input::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.inputError {
  border: 2px solid var(--color-red) !important;
}

.inputError:focus {
  border: 2px solid var(--color-red) !important;
}

.inputError::placeholder {
  color: var(--opacity-neutral-darkest-60);
}

.dateWrapper {
  position: relative;
}

.input[type='date'] {
  width: 100%;
  cursor: pointer;
}

.input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.dateIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-neutral);
  transition: transform 0.2s ease;
}

.selectWrapper {
  position: relative;
}

.select {
  width: 100%;
  font-family: var(--font-family);
  border: 1px solid var(--opacity-transparent);
  background-color: var(--color-neutral-lightest);
  font-size: 14px;
  color: var(--color-neutral);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: background-color 0.2s;
  border-radius: 8px;
  padding: 8px 40px 8px 12px;
  height: 40px;
}

.select:focus {
  outline: none;
  background-color: #ebebeb;
}

.selectIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-neutral);
  transition: transform 0.2s ease;
}

.selectOpen .selectIcon {
  transform: translateY(-50%) rotate(180deg);
}

.error {
  font-size: 12px;
  color: var(--color-red);
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.cancelButton,
.submitButton {
  flex: 1;
  padding: 8px 20px;
  border: none;
  border-radius: 100px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.2s;
  height: 38px;
  font-size: 14px;
}

.cancelButton {
  background-color: var(--opacity-neutral-darkest-5);
  color: var(--color-scheme-text);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.cancelButton:hover:not(:disabled) {
  background-color: #f5f5f5;
}

.submitButton {
  background-color: var(--color-scheme-foreground-alt);
  color: var(--color-scheme-text);
  border-bottom: 4px solid var(--color-scheme-accent);
}

.submitButton:hover:not(:disabled) {
  background-color: #ffaac5;
}

.cancelButton:disabled,
.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 100%;
    padding-top: 32px;
  }

  .buttons {
    margin-top: 24px;
    justify-content: flex-end;
  }

  .cancelButton,
  .submitButton {
    flex: unset;
    width: 150px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .label {
    font-size: 16px;
    line-height: 24px;
  }

  .input {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .input::placeholder {
    line-height: 24px;
  }

  .select {
    height: 40px;
    font-size: 16px;
    line-height: 24px;
  }
}
